# Allow users in the "dialout" group to access /dev/evo8
KERNEL=="evo8", SUBSYSTEM=="misc", GROUP="dialout", MODE="0660", \
  TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="evo8-load-config.service"
